*,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
}

body {
  text-decoration: none;
  display: inline;
}

.header,
.logo,
.nav_container,
.nav_links,
.float,
.content_2,
.content_3-1,
.content_3-2,
.btn-1,
.main_top,
.main_below-1,
.content_3-3,
.upcoming_episodes,
.btn-2,
.button_end,
.latest_articles,
.more_about_book,
.person_of_the_week,
.img,
.content_4-1,
.avatar,
.img-1,
.content_4-2,
.btn-3,
.img-2,
.content_3-6,
.content_3-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 180px;
  background-color:rgb(33, 33, 33);
  font-weight: 400;
}

.logo {
  width: 180px;
  font-family: "Fredoka One", serif;
  color: white;
  line-height: 65px;
  font-size: 25px;
  border-right: #fff solid 3px;
  height: 100%;
}

.logo_1 {
  margin-right: 10px;
}

.nav_container {
  flex-direction: column;
  width: 170px;
  height: 100%;
  margin-right: 10px;
}

.nav_links {
  width: 180px;
  font-family: "Fredoka One", serif;
  color: white;
  line-height: 65px;
  font-size: 25px;
  border-right: #fff solid 3px;
  height: 100%;
}

.nav_link {
  font-family: "Fredoka One", serif;
  color: white;
  line-height: 45px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 22px;
  border: #fff solid 3px;
  border-radius: 9px;
}

.main,
.content,
.articles,
.suppoters_section,
.cover,
.design_systems,
.design,
.button_end-1,
.main_cont,
.main_left_2,
.content_5 {
  display: flex;
}

.main {
  position: relative;
}

.main_top,
.main_below-1 {
  width: 50%;
  background-color:rgb(33, 33, 33);
  height: 700px;
  border-top: #fff solid 3px;
  border-right: #fff solid 3px;
}

.main_left_1 {
  color: white;
  font-family: "Fredoka One", serif;
  font-weight: 100;
  font-size: 44px;
  line-height: 53px;
}

.float {
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  flex-direction: column;
}

.main_title,
.main_title_1 {
  background-color: white;
  padding: 5px;
  font-family: "Fredoka One", serif;
}

.articles,
.suppoters_section {
  height: 650px;
}

.articles {
  position: relative;
  height: 650px;
}

.content_2,
.content_3-1,
.content_3-3 {
  padding: 30px;
  font-size: 27px;
  line-height: 32px;
  background-color: rgb(174, 177, 177);
  border-top: #fff solid 3px;
  border-right: #fff solid 3px;
  border-left: #fff solid 3px;
}

.content_2,
.content_3-2,
.content_3-3,
.upcoming_episodes,
.more_about_book,
.content_3-4 {
  flex-direction: column;
}

.content_3-1,
.content_3-2,
.content_3-3 {
  width: 550px;
}

.content_3-2 {
  border-top: #fff solid 3px;
  background-color: rgb(90, 94, 94);
  border-radius: 9px;
}

.btn-1 {
  height: 40px;
  width: 200px;
  color:rgb(33, 33, 33);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #f5f8fa;
  padding: 10px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 900;
}

.upcoming_episodes {
  height: 850px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: rgb(90, 94, 94);
  border-radius: 19px;
  border-top: #fff solid 3px;
}

.content_4 {
  padding: 30px;
  font-size: 27px;
  line-height: 32px;
}

.btn-2 {
  height: 40px;
  width: 360px;
  color:rgb(33, 33, 33);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #f5f8fa;
  padding: 10px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 900;
}

.button_end {
  padding: 40px;
}

.latest_articles {
  height: 200px;
}

.latest {
  font-size: 17px;
  line-height: 22px;
  font-weight: 100;
  border-bottom: rgb(0, 0, 0) solid 3px;
}

.more_about_book {
  height: 850px;
  background-color: rgb(90, 94, 94);
}

.person_of_the_week {
  justify-content: space-around;
  height: 400px;
  border-top: #fff solid 3px;
}

.img {
  background-color: rgb(90, 94, 94);
  border-radius: 9px;
  height: 200px;
  width: 200px;
  font-size: 17px;
  transform: rotate(-20deg);
}

.content_4-1 {
  background-color: rgb(100, 104, 104);
  border-radius: 9px;
  font-size: 20px;
  width: 1000px;
  height: 280px;
}

.avatar {
  justify-content: space-between;
}

.cover {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 30px;
  padding-left: 30px;
}

.img-1 {
  margin-right: 30px;
  background-color: rgb(90, 94, 94);
  border-radius: 9px;
  height: 80px;
  width: 80px;
  font-size: 17px;
  transform: rotate(-20deg);
}

.content_4-2 {
  background-color: rgb(100, 104, 104);
  border-radius: 9px;
  font-size: 20px;
  width: 480px;
  height: 180px;
}

.design_systems {
  justify-content: space-around;
  border-top: #fff solid 3px;
  background-color: rgb(121, 124, 124);
}

.design {
  padding-top: 40px;
  flex-direction: column;
}

.btn-3 {
  height: 40px;
  width: 360px;
  color: rgb(55, 56, 56);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #f5f8fa;
  padding: 10px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 900;
}

.button_end-1,
.main_cont,
.main_left_2 {
  justify-content: flex-start;
  padding: 40px;
}

.main_cont {
  padding-left: 24px;
}

.main_left_2 {
  color: white;
  font-family: "Fredoka One", serif;
  font-weight: 100;
  font-size: 44px;
  line-height: 53px;
}

.content_5 {
  padding: 30px;
  font-size: 35px;
  line-height: 32px;
}

.img-2 {
  margin-right: 30px;
  margin-top: -40px;
  background-color: rgb(90, 94, 94);
  border-radius: 9px;
  height: 240px;
  width: 200px;
  font-size: 17px;
  transform: rotate(-20deg);
}

.content_3-4 {
  width: 670px;
  padding: 30px;
  font-size: 27px;
  line-height: 32px;
  background-color: rgb(90, 94, 94);
  border-radius: 9px;
  border-top: #fff solid 3px;
  border-right: #fff solid 3px;
}

.footer {
  background-color:rgb(90, 94, 94);
  padding: 50px;
}

nav,
ul,
li,
a {
  display: flex;
  justify-content: center;
  line-height: 40px;
  flex-wrap: wrap;
  font-size: 18px;
}

.content_3-6 {
  padding: 10px;
  font-size: 16px;
  line-height: 32px;
}
