*,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
}

body,li,a{
    text-decoration: none;
    list-style: none;
    display: inline;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: #D33C2C;
    font-weight: 400;
}

.logo_1{
    margin-right: 10px;
}


.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    width: 170px;
    margin-right: 10px;
}

.nav_links{
    font-family: 'Fredoka One', serif;
    color: white;
    line-height: 65px;
    font-size: 25px;
}

.nav_link{
    font-family: 'Fredoka One', serif;
    color: white;
    line-height: 45px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 22px;
    border: #FFF solid 3px;
    border-radius: 9px;
}

.nav_links_2{
    color: white;
    font-family: 'Satisfy', serif;
    font-size: 18px;
}
